@mixin hero-title {
  font-size: 3.75rem;
  font-weight: 300;
  margin-bottom: 5px;
}

// I didnt get a chance to fully leverage variables and mixins in this project, but I get the general idea and will practice the concepts more this weekend.
